{% extends 'base.html' %}
{% block content %}
	<div class="post">
		{% if post.timestamp %}
			<div class="date">
				{{ post.timestamp }}
			</div>
		{% endif %}

		{% if user.is_authenticated %}
			<a class="btn btn-primary" href="{% url 'post_edit' pk=post.pk %}">Edit Post</a>
		{% endif %}
		
		<h1>{{ post.title }}</h1>
		<p>{{ post.user }} | {{ post.category }} | {{ post.typename }}</p>
		<p>{{ post.summary|linebreaksbr }}</p><br>
		<p>{{ post.description|linebreaksbr }}</p>
	</div>
{% endblock %}